@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-up(md) {
	li.list-group-item {
		.todo-icons a {
			opacity: 0;
		}
		&:hover .todo-icons a {
			opacity: 1;
		}
	}
}